/* General styles for the page */

main {
    padding: 20px;
}

h1, p {
    text-align: center;
}

/* Form styles */
form {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid darkblue;
    padding: 20px;
    border-radius: 5px;
    background-color: darkred;
}

fieldset {
    border: 1px solid darkblue;
    padding: 15px;
    margin-bottom: 20px;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, textarea, button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid darkblue;
    border-radius: 5px;
    font-size: 1em;
}

textarea {
    resize: vertical;
}

#form-buttons {
    display: flex;
    justify-content: space-between;
}

button {
    width: 48%;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}



