main {
    padding: 20px;
    text-align: center;
}

h1, h2, p {
    margin-bottom: 20px;
}

/* Audio and video styling */
audio, video {
    margin: 20px 0;
    border: 2px solid darkblue;
    border-radius: 5px;
    max-width: 100%; /* Ensures the media elements are responsive */
    height: auto;
}

